@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Pathway+Extreme&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    border: none;
    text-shadow: 1px 1px 1px #000;
}

input, label {
    display: block; /*cada um representa uma linha*/
    width: 100%;
}

input:focus, label:focus {
    outline: none;
}

a {
    color: #fff;
}

body {
    padding-top: 5vh; /*formulario mais para baixo espaçamento*/
    background-image: url(../img/CADASTRO.png);
    background-size: cover;
    background-position-y: -150px;
}


/*Estilizando Formulário*/

#main-container {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color:#2f284181;
    border-radius: 10px;
    padding: 25px;
    
}

#main-container h1 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 1.6rem;  /*adaptada ao elemento root*/
}

form {
    display: flex;
    flex-wrap: wrap; /*alinhar os elementos dependendo da largura pula linhas*/
    justify-content: space-between;
}

.full-box {
    flex: 1 1 100%;
    position: relative;
}

.half-box {
    flex: 1 1 45%;
    position: relative;
}

.spacing {
    margin-right: 2.5%;
}

label {
    font-weight: bold;
    font-size: .8rem;
}

input {
    border-bottom: 2px solid #000;
    padding: 10px;
    font-size: .9rem;
    margin-bottom: 40px;
    background-color: rgba(255, 255, 255, 0);
}   

input:focus {
    border-color: rgba(87, 212, 243, 0.863);
}

input[type="submit"] {
    background-color: #ffffffc0;
    color: #FFF;
    border: none;
    border-radius: 20px;
    height: 40px;
    cursor: pointer;
}

#agreement {
    margin-right: 5px;
}

#agreement, #agreement-label {
    display: inline-block;
    width: auto;
}

/*Validações*/
.error-validation {
    color: rgb(139, 2, 2);
    position: absolute;
    top: 57px;
    font-size: .8rem;
}

.template {
    display: none;
}