@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Pathway+Extreme&display=swap');
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

/* Estilos gerais */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Estilo para a div backgroundform */
.backgroundform {
  background-color: #f2f2f2;
  padding: 20px;
}

/* Estilo para o cabeçalho */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.header h1 img {
  width: 150px;
  height: auto;
}

.navbar {
  display: flex;
}

.navbar a {
  text-decoration: none;
  color: #000;
  margin-right: 10px;
}

.usuario {
  display: flex;
  align-items: center;
}

.usuario img {
  margin-right: 10px;
}

.botao--menu {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.sair--inativo {
  display: none;
}

/* Estilo para o conteúdo do formulário */
.conteudo__formulario {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.card__formulario {
  display: flex;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card__inputs {
  margin-right: 20px;
}

.select {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

.card__inputs--botao {
  border: none;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.carregamento {
  display: none;
  text-align: center;
  margin-top: 20px;
}

.carregamento img {
  width: 50px;
  height: 50px;
}

/* Estilo para o conteúdo do personagem */
.conteudo__personagem {
  display: none;
}

.card__personagem {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.voltar {
  border: none;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.imagem__personagem {
  text-align: center;
  margin-top: 20px;
}

.imagem__personagem img {
  width: 200px;
  height: auto;
}

/* Estilo para o erro de escolha */
#erro_escolha {
  display: none;
  color: red;
  margin-top: 10px;
}
